.Dashboard {
  text-align: center;
  max-width: 1200px;
  position: relative;
  width: 100%;
  height: auto;
  @media screen and (max-width: 1000px) {
    width: auto;
  }
  margin-top: 50px;
  background-color: #0d2447;
  border-radius: 30px;
  padding: 25px 0px;

  .dash-navbar {
    min-height: 140px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    .chart-box-sm {
      height: 140px;
      min-width: 265px;
      max-width: 400px;
      @media screen and (max-width: 1000px) {
        min-width: 350px;
        margin: 15px 0px;
      }
      @media screen and (max-width: 500px) {
        width: 400px;
        height: auto;
        margin: 5px 5px;
      }
      border-radius: 20px;
      background-color: #09101a;
      .coin-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgb(8, 225, 0);
        @media screen and (max-width: 500px) {
          border-bottom: none;
        }
        padding: 8px 0px;
        .coin-img-name {
          display: flex;
          align-items: center;
        }
        img {
          height: 30px;
          background-color: aliceblue;
          border-radius: 15px;
          margin: 0px 10px;
        }
        h1 {
          font-size: 18px;
          margin: 0;
          color: white;
        }
        p {
          align-items: flex-end;
          margin: 0;
          margin: 0px 10px;
          color: white;
        }
      }
    }
  }
  .dash-body {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 25px;
    @media screen and (max-width: 1000px) {
      flex-direction: column;
      padding-top: 0px;
    }
    .dash-chart {
      width: 65%;
      @media screen and (max-width: 1000px) {
        width: 95%;
        height: 35vh;
        margin: 15px;
      }
      height: 550px;
      background-color: #09101a;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        color: white;
      }
    }
    .dash-form-box {
      width: 28%;
      height: 550px;
      background-color: #09101a;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      @media screen and (max-width: 1000px) {
        display: none;
      }
      .dash-form {
        @media screen and (max-width: 1000px) {
          display: flex;
          flex-wrap: wrap;
        }
        input,
        textarea,
        select {
          border: none;
          width: 88%;
          padding-left: 10px;
          @media screen and (max-width: 1000px) {
            width: 25%;
          }
          height: 35px;
          border-radius: 10px;
          background-color: #0d2447;
          color: white;
          margin-top: 15px;
        }
        .message-input {
          height: 150px;
          padding-left: 10px;
        }
      }
      .dash-form-btn-box {
        height: 60px;
      }
    }
    .make-transactions {
      display: none;
      @media screen and (max-width: 1000px) {
        display: block;
      }
    }
  }
}
