.Footer {
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-color: beige;
	padding: 2rem 0;
	div {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 150px;
		min-width: 400px;
		.footer-nav {
			display: flex;

			text-align: center;
			@media screen and (max-width: 500px) {
				flex-direction: column;
				a {
					padding: 20px;
				}
			}
		}
	}
	.coinland-footer {
		display: flex;
		justify-content: center;
		align-items: center;

		height: auto;
		h2 {
			margin-bottom: 10px;
			margin-top: 0px;
		}
		p {
			margin: 0;
		}
		a {
			color: black;
			@media screen and (max-width: 820px) {
				display: flex;
				flex-direction: column;
				justify-content: center;
				text-align: center;
			}
		}
	}
	.social-icons {
		a {
			padding: 0px 20px;
		}
	}
}
