@import "../../styles.scss";

.aboutcut {
	width: 100%;
	height: auto;
	padding-top: 1rem;
	padding-bottom: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 6rem 0 0 0;
	&__container {
		text-align: center;
		display: flex;
		flex-direction: column;
		max-width: 620px;
		margin: 0 2rem;
		h1 {
			font-size: 3.1rem;
			color: white;
			letter-spacing: -2px;
		}
		button {
			margin: auto;
			@include buttonOutline;
			color: $buttonColor;
			background-color: white;
			width: 200px;
			border: 2px solid $buttonColor;
			&:hover {
				background-color: rgb(0, 129, 235);
				color: white;
			}
		}
	}
}
