@import url(./components/navbar.scss);
@import "./styles.scss";

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
	font-family: $headerFont;
	overflow-y: scroll;
	letter-spacing: -0, 5px;
}

.body-container {
	display: flex;
	flex-direction: column;
}
a {
	text-decoration: none;
}
