@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Open+Sans:wght@400;500&display=swap");
//Fonts
$headerFont: "font-family: 'Inter', sans-serif";
$subtitlesFont: "font-family: 'Open Sans', sans-serif";

//colors
$buttonColor: #00b6f0;
$headerColor: #112d57;
$subtitleColor: #5c5c5c;
$yellowColor: #ffe249;

//Font size

//classes / mixins

//breakpoints
$small: 768px;
$medium: 992px;
$large: 1200px;
