@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Open+Sans:wght@400;500&display=swap");
//Fonts
$headerFont: "font-family: 'Inter', sans-serif";
$subtitlesFont: "font-family: 'Open Sans', sans-serif";

//colors
$buttonColor: #00b6f0;
$headerColor: #112d57;
$subtitleColor: #5c5c5c;
$yellowColor: #ffe249;

//Font size
$bigHeaderSize: 3rem;
$headerSize: 2rem;
$subtitlesSize: 1rem;

//breakpoints
$small: 768px;
$medium: 992px;
$large: 1200px;

// Mixins
//Button class
@mixin buttonClass {
	padding: 0 2.5rem;
	height: 45px;
	border-radius: 40px;
	border: none;
	background: $buttonColor;
	opacity: 0.8;
	color: white;
	font-size: 1rem;
	transition: all 0.2s ease;
	display: flex;
	justify-content: center;
	align-items: center;
	&:hover {
		background-color: $buttonColor;
		opacity: 1;
	}
}

//not important button
@mixin buttonOutline {
	padding: 0 2.5rem;
	height: 45px;
	border-radius: 40px;
	border: 2px solid $buttonColor;
	opacity: 0.8;
	background-color: white;
	color: $buttonColor;
	font-size: 1rem;
	transition: all 0.2s ease;
	display: flex;
	justify-content: center;
	align-items: center;
	&:hover {
		opacity: 1;
	}
}
