@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Open+Sans:wght@400;500&display=swap");
//Fonts
$headerFont: "font-family: 'Inter', sans-serif";
$subtitlesFont: "font-family: 'Open Sans', sans-serif";

//colors
$buttonColor: #00b6f0;
$headerColor: #112d57;
$subtitleColor: #5c5c5c;
$yellowColor: #ffe249;

//Font size

// Mixins
//Button class
@mixin buttonClass {
	width: 175px;
	height: 35px;
	border-radius: 30px;
	border: none;
	background: $buttonColor;
	opacity: 0.8;
	color: white;
	font-size: 1rem;
	position: relative;
	transition: all 0.15s ease;
	&:hover {
		margin-top: -2px;
		background-color: $buttonColor;
		opacity: 1;
	}
}

//breakpoints
$small: 768px;
$medium: 992px;
$large: 1200px;
